.error_container{
    min-height: 85vh;
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.error_container h1{
    font-size: 2.5rem;
    color: var(--bs-primary)
}